*{
    margin:0px;
    padding: 0px;
}

body{
    background:#D78019;
}


header nav img{
    width: 100px;
    height: 100px;
}

.carousel-inner{
    height: 450px;
}

.pie {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 15px;
    justify-content: space-around;
  }

.imagen{
    width: 200px;
    height: 200px;
    padding-left: 50px;
    padding-bottom: 5px;
}

.img-fluid{
    width: 300px;
    height: 250px;
}

@media (max-width: 1000px) {
   
    .carousel-inner{
        height: 250px;
        width:100%;
    }
    .card{
        width: 100%;
    }
    .imagen{
        width: 200px;
        height: 200px;
        padding: 0px;
    }
  }

@media (max-width: 580px) {
    .container{
        padding-left: 80px;
    }
    
}

@media (max-width: 420px){
    .container{
        padding-left: 40px;
    }
}

.card-title{
    text-align: center;
    font-size: 25px;
}

.card{
    background: #E06020;
}

main a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a{
    text-decoration: none;
    color: black;
 }

.contador{
    width: 50px;
 }

.botonCarro{
    margin: 10px;
  }

.pieTarjeta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    padding: 5px;
}


.titulo1{
    padding: 10px;
    text-align: center;
}

.imgCarne{
    width: 300px;
    height: 200px;
    display: block;
    margin: 0px auto;
  }

  .imgOpinion{
    width: 300px;
    height: 250px;
    display: block;
    margin: 0px auto;
  }

  .opiniones {  
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  main div div div:hover{
    transform:scale(1.05);
    transition: 1s;
  }

.card{
      border: solid;
      border-color: rgb(0, 0, 0);
      border-radius: 25px;
  }