@media (max-width: 1000px) {
  .carousel-inner {
    height: 250px;
    width: 100%;
    border-radius: 25px; }
  .card {
    width: 100%; }
  .imagen {
    width: 200px;
    height: 200px;
    padding: 0px; } }

@media (max-width: 580px) {
  .container {
    padding-left: 80px; } }

@media (max-width: 420px) {
  .container {
    padding-left: 40px; } }

header nav img {
  width: 100px;
  height: 100px; }

.carousel-inner {
  border-radius: 15px;
  height: 450px; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.titulo1 {
  padding: 10px;
  text-align: center; }

.imgCarne, .imgCarneReceta {
  width: 250px;
  height: 200px;
  display: block;
  margin: 0px auto; }

.imgCarneReceta {
  border-radius: 5px;
  height: 250px; }

.opiniones {
  animation-duration: 3s;
  animation-name: slidein; }

.imgOpinion {
  width: 300px;
  height: 250px;
  display: block;
  margin: 0px auto; }

body {
  background: radial-gradient(circle, rgba(255, 183, 43, 0.389793) 0%, rgba(255, 230, 27, 0.314163) 7%, white 100%); }

main a {
  text-decoration: none;
  color: #181715;
  font-family: Arial, Helvetica, sans-serif 20px; }

.pie {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
  justify-content: space-around; }

footer {
  background: #cf8600ab;
  padding: 50px; }
  footer a {
    text-decoration: none;
    color: #000000; }

.card {
  background: radial-gradient(circle, rgba(255, 183, 43, 0.389793) 0%, rgba(255, 230, 27, 0.314163) 7%, white 100%);
  border: solid 3px #181715;
  border-radius: 25px; }
  .card .card-title {
    text-align: center;
    font-size: 25px; }
  .card .img-fluid {
    width: 300px;
    height: 250px;
    border-radius: 10px; }
  .card .pieTarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .card .contador {
    width: 45px; }
  .card button {
    background: #dfcf9b; }
  .card .botonCarro {
    padding: 10px; }

.imagen {
  width: 200px;
  height: 200px;
  padding-left: 50px;
  padding-bottom: 5px; }

main div div div:hover {
  transform: scale(1.05);
  transition: 1s; }

.card-primario {
  background: radial-gradient(circle, rgba(255, 183, 43, 0.389793) 0%, rgba(255, 230, 27, 0.314163) 7%, white 100%); }

.card-secundario {
  background: #181715; }

.card-boton {
  background: #dfcf9b; }

.card-footerfuente {
  background: #000000; }

.card-footerfondo {
  background: #cf8600ab; }
