.pie {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    justify-content: space-around;
}

footer{
    background: $colorFooterFondo;
    padding: 50px;
    a{
        text-decoration: none;
        color: $colorFooterFuente; 
    }
}