
@media (max-width: 1000px) {
   
    .carousel-inner{
        height: 250px;
        width:100%;
        border-radius: 25px;
    }
    .card{
        width: 100%;
    }
    .imagen{
        @include propiedades(200px,200px);
        padding: 0px;
    }
  }

@media (max-width: 580px) {
    .container{
        padding-left: 80px;
    }

}

@media (max-width: 420px){
    .container{
        padding-left: 40px;
    } 
}

