.titulo1{
    padding: 10px;
    text-align: center;
}

.imgCarne{
    @include propiedades (250px, 200px);
    display: block;
    margin: 0px auto;
  }

.imgCarneReceta{
    @extend .imgCarne;
    border-radius: 5px;
    height: 250px;
}

