.card{
    background: $colorPrimario;
    border: map-get($carta, borde );
    border-radius: map-get($carta, bordeRadio );
    .card-title{
        text-align: center;
        font-size: 25px;
    }
    .img-fluid{
        @include propiedades(300px, 250px);
        border-radius: 10px;
    }
    .pieTarjeta{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .contador{
            width: 45px;
         }
    button{
            background: $colorBoton;
    }
    .botonCarro{
            padding: 10px;
    }
         
}

.imagen{
    @include propiedades(200px, 200px);
    padding-left: 50px;
    padding-bottom: 5px;
}

main div div div:hover{
    transform:scale(1.05);
    transition: 1s;
  }

  @each $clave, $var in $colores {
      .card-#{$clave}{
          background: $var;
      }

  }