$colorPrimario : radial-gradient(circle, rgba(255,183,43,0.3897934173669467) 0%, rgba(255,230,27,0.31416316526610644) 7%, rgba(255,255,255,1) 100%);
$colorSecundario : #181715;
$colorFooter : #111111;
$colorBoton : #dfcf9b;
$fuente : Arial, Helvetica, sans-serif 20px;